.view {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .container, .box {
    display: flex;
    justify-content: center;
    align-items: center;

    @media (max-width: 768px) {
      flex-direction: column;
    }
  }
  
  .container {
    flex-direction: column;
    gap: 30px;
  }
  
  .box {
    gap: 10px;
  }
  