.page {
  display: flex;
  flex-direction: column;
  gap: 40px;

  @media (max-width: 768px) {
    gap: 12px;
  }
}

.page-container,
.container,
.box-tasks {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.page-container,
.container {
  margin: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 24px 56px;
  padding-bottom: 24px;
  border-bottom: 1px solid hsl(220, 29%, 88%);
  transition: all 0.3s;

  @media (max-width: 768px) {
    flex-direction: column;
    align-items: flex-start;
    margin: 24px;
    gap: 8px;
  }
}

.username {
  font-weight: 500;
  font-size: 24px;

  @media (max-width: 768px) {
    font-size: 19px;
  }
}

.date {
  color: #0000008a;
  font-weight: 400;
  font-size: 16px;
}

.container,
.box-tasks {
  width: 450px;
  gap: 24px;

  @media (max-width: 768px) {
    width: 272px;
    gap: 8px;
  }
}

.box-tasks {
  padding: 32px;
  border: 1px solid #eaecf0;
  border-radius: 16px;
  transition: all 0.3s;
}
